.video-section {
  * {color: $white;}

  padding: 4rem 0 0;
  color: $white;
  background: url(/img/transparent-logo.svg) left 80% no-repeat $secondary-blue;
  flex-direction: column;
  overflow: hidden;

    .video-container {
        aspect-ratio: 16 / 9;
        width: 90%;
        height: auto;
      position: relative;
      margin: 0 auto;
      background: $secondary-blue;
      padding: 0;
    }
.container {
  padding: 2rem 0 2rem 2rem;
  margin-right: 0;

}
    #player {
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .overlay-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2;
      display: none;
	  border: 1px solid #000000;
    }

    .custom-play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 61, 165, 1);
      color: white;
      border: none;
      border-radius: 50%;
      width: 84px;
      height: 84px;
      font-size: 30px;
      cursor: pointer;
      z-index: 3;
      display: none;
      align-items: center;
      justify-content: center;
    }

    .custom-play-button:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    .video-thumbnail {
      cursor: pointer;
      border: 2px solid transparent;
      transition: border-color 0.3s;
      width: 144px;
      height: auto;
      object-fit: cover;
    }

    .video-thumbnail:hover {
      border-color: $light-blue;
    }

.video-selector-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.video-selector {
  display: flex;
  scroll-behavior: smooth;
  gap: 6px;
  max-width: 90%;
  overflow-y: scroll; /* Allows scrolling */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
}

.video-selector::-webkit-scrollbar {
}

.arrow-controls {
margin: 20px 0;
  display: flex;
  gap: 20px;
  justify-content: start;
}

.scroll-arrow {
  // font-size: 24px;
  // background: rgba(0, 61, 165, 0.7);
  // color: white;
  // padding: 8px 12px;
  // user-select: none;
  // border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #003da5;
  transition: all 0.25s ease-out;
  background-image: url(../img/slider_nav_arrow.svg);
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
  background-color: #fff;
  opacity: 1;

  &.right-arrow {
    transform: scale(-1);
  }
}

}

@media (max-width: 480px) {
 .video-section {
    background: $secondary-blue;
    .video-container {
      width: 100%;
      padding:0;
    }
    
    .container {
      padding: 0 2rem 2rem;
    }

    .video-selector {
      max-width: 100%;
    }
    .custom-play-button {
      width: 64px;
      height: 64px;
    }
  }  
}