//colors
$primary-blue: #003da5;
$secondary-blue: #00205b;
$light-blue: #0072ce;
$white: #fff;
$light-gray: #eff0f0;
$mobile-subhead: 30px;

// font sizes
$h1: 4.0625rem; //65px;
$h2: 2.8125rem; //45px;
$h3: 2rem; //32px;
$h4: 1.875rem; //30px;
$p: 1rem;

.primary-blue{ color: #003da5 !important;}
.secondary-blue{ color: #00205b !important;}
.light-blue{ color: #0072ce !important;}
.pale-blue{ color: #6DA4D8 !important;}
.white{ color: #fff !important;}
.light-gray{ color: #eff0f0 !important;}


.rethink-sans-400 {
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rethink-sans-600 {
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.rethink-sans-800 {
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.newsreader-400 {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.newsreader-600 {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.newsreader-800 {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

//original styles
html, body {
    background: $white;
    font-family: "Rethink Sans", sans-serif;
    font-size: 16px;
}
/* Globals */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: $primary-blue;
    font-weight: 800;
    line-height: 1;
}
h1, .h1 {
    font-size: $h1; //65px;
}
h2, .h2 {
    font-size: $h2; //45px;
}
h3, .h3 {
    font-size: $h3; //32px;
}
h4, .h4 {
    font-size: $h4; //30px;
}
p {
    line-height: 1.6;
    font-size: $p;
}
.btn {
    border: 0;
    font-weight: 300;
    border-radius: 0 19px;
}
.btn-primary {
    background: $light-blue;
    margin-bottom: 20px;
    min-width: 70vw;
    padding: 8px 30px;
    margin-right: 12px;

}
/* Footer */
footer {
    background: $secondary-blue;
    // font-size: 13px;
    font-weight: 300;
    color: $white;
}
footer a {
    color: $white;
}
footer h3 {
    font-weight: 600;
    color: $white;
}
.fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}
.skin-social a {
    width: 48px;
    height: 48px;
}
.skin-social a:hover {
    text-decoration: none !important;
    opacity: .75;
    color: inherit;
}
.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-style: normal;
    font-weight: 400;
}
.fa-facebook-square:before, .fa-square-facebook:before {
    content: "\f082";
}
.fa-2x {
    font-size: 3em;
}
.fa-fw {
    text-align: center;
    width: 1.25em;
}
.copyright {
    border-top: 1px solid $white;
}
section {
    max-width: 1440px;
    margin: auto;
    display: flex;
    padding: 0 9rem;
}

/* Hero */ 
.hero {
min-height: 420px;
  display: flex;
  align-items: center;
  background-position: 34% 23%;
  background-size: 140%;
  position: relative;
  overflow: hidden;
  * {
    color: $white;
    z-index: 2;
}
  
  &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0px;
      right: 0;
        background: $primary-blue;
      border-bottom: 1px solid $primary-blue;
        width: 150px;
        height: 150px;
        clip-path: polygon(50% 0px, 50% 50%, 0% 50%, 0 100%, 100% 100%, 100% 0%);
        z-index: 3;
    }

    &::after {
        content: "";
        bottom: 0px;
        left: 0;
        background: $light-blue;
        width: 900px;
        height: 13px;
        position: absolute;
        z-index: 2;
    }
    .container::before {
        content: "";
        // background-color: rgba(0,0,0,.2);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
    }
}
// .mobile_hero {
//     aspect-ratio: 1 / 1;
//     width: 100vw;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: top center;
// }

// intro-blue-box
.intro-blue-box {
    background: $primary-blue;
    h2, p {
        margin-bottom: 30px;
        line-height: 1.2;
    }
    p {padding-right: 4rem; font-size: 1.375em;}
}

#video_poster {
    width: 100%;
    height: auto;
}
/* Stats Section */
.stats{ 
    color: $light-blue; 
    > div > div:first-child {
    margin-bottom: 0;
    padding-bottom: 5px;
    font-family: 'newsreader', serif;
    font-size: 56px;
    font-weight: 800;
    font-style: italic;
    line-height: 1;
    letter-spacing: -.03em;
}
 > div > div:last-child {
    font-size: 18px;
}}

/* Ready for Section */
.ready_container {
    font-size: $mobile-subhead;
    line-height: 1em;
    color: $primary-blue;
    margin-bottom: 4rem;

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    a {
        bottom: 0;
    }

    h3 {
        margin-top: 2rem !important;
        font-size: 30px;
    }

    p {
        padding-right: 10%;
        margin-bottom: 0;
    }
}

/* blue-bar */
.blue-bar {
    img {height: 100%;}
    .text-content {
        padding: 4rem 0;
    }
}

/* Carousel */
.carousel {
    width: 100%;
    .carousel-item {
        height: 390px;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }
        .carousel-control-container {
            position: absolute;
            height: 32px;
            width: 75px;
            bottom: 25px;
            right: 35px;
            display: none; //hide for now

            button {
                display: inline-block;
                width: 32px;
                border-radius: 50%;
                border: 1px solid $primary-blue;
                // margin-left: 20px;
                transition: all .25s ease-out;
                background-image: url(../img/slider_nav_arrow.svg);
                background-repeat: no-repeat;
                background-size: 65%;
                background-position: center;
                    background-color: #fff;
                    opacity: 1;
                
            }
            .carousel-control-next {
                transform: scale(-1);
            }
        }}

.slide h3 {
    width: 100%;
    padding: 10px 20px;
    min-height: 140px;
    font-size: 30px;
}
.slide img {
    width: 100%;
    height: auto;
}
.slider_nav {
    position: relative;
    bottom: 0px;
}
.slider_nav > a {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-left: 20px;
    transition: all .25s ease-out;
    background-image: url(../img/slider_nav_arrow.svg);
    background-repeat: no-repeat;
    background-size: 34px auto;
    background-position: 12px 18px;
}
.slider_nav a:hover {
    background-color: $white;
}
.slider_nav_prev {
}
.slider_nav_next {
    transform: scaleX(-1);
}
/* Intern */
.alumni_container {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: $h4;
    font-weight: 800;
    line-height: 1;
    color: $primary-blue;
}
#alumni_headshots {
    width: 100%;
    height: auto;
    max-width: 450px;
}
#arrow_rightangle {
    display: block;
    padding-top: 20px;
    max-width: 65px;
}
#logos {
    width: 100%;
    height: auto;
}

/* Form */
@import "form";

.logo_bar {
    background: $primary-blue;
}
.logo_bar > div {
    max-width: 1300px;
}
#logo {
    max-width: 80px;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}
//end original styles



// global
// .h1 {
//   font-size: 65px;
//   font-weight: 800;
//   line-height: .9;
//   color: $primary-blue;
//   margin: 0;
//   letter-spacing: 0;
// }
// topnav
// hero
.subtext {
  padding: 15px 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.03em;
  color: $primary-blue;
}
// stats
// video
.video_container {
  height: 560px !important;
}
// real world
.real_world .h1 {
  color: $white;
}
// slider
.carousel {
    // height: 390px;
    .quote {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        gap: 10px;
        position: absolute;
        width: 355.82px;
        left: 0;
        top: 0;
        background: $primary-blue;
        border-radius: 45px 0px;
        margin: 40px 25px;
        color: #fff;
        text-align: center;

        .dbl-quote::before {
            content: "“";
            color: $light-blue;
            font-size: 5rem;
            font-family: "Newsreader", sans-serif;
            font-weight: 800;
            display: block;
            height: 32px;
            line-height: 1;
            vertical-align: bottom;}
        .quote-content{
            text-align: center;
            font-size: 1.8rem;
            font-weight: 800;
            line-height: 1.2;
        }
        .quote-by-line {
            font-size: 1.2rem;
        }
    }        
//     span {
//       display: block;
//     width: 100%;
//     padding: 10px 20px;
//     min-height: 140px;
//     font-size: 30px;
//     font-weight: 600;
//     line-height: 1;
//     color: $primary-blue;
//   }
}
// form
// ready container
// footer
footer {
// font-size: 1.8rem;
}

footer h3 {
// font-size: 3rem;
}

footer .social_icons, footer .copyright {
// font-size: 1.3rem;
}

footer a:hover {
color: #dedede;
} 

@media (max-width: 768px) {
  // global
//   h1, h3, .h1 {
//     font-size: 2.5rem;
//   }
//   h2 {
//     font-size: 1.2rem;
//   }
//   div {
//     // font-size: 16px;
//     line-height: 1.2;
//   }
  .btn-primary {
    min-width: auto;
  }
  // topnav
  #logo_horz {
    width: 240px;
  }
  // hero
  .mobile_hero {
    height: 280px;
    background-position: center;
  }
  .subtext {
    font-size: 2rem;
  }

  // stats
  .stats div > div:first-child {
    font-size: 4rem;
  }
  // video
  .video_container {
    height: 260px !important;
  }
  // real world
  .real_world {
    margin-top: 0;
  }
  // slider
  .slide {
    span {
      font-size: 1.5rem; 
      min-height: 60px;
    }
    .slider_nav {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
    a {
      margin: 0 auto;
      width: 40px;
      height: 40px;
      background-size: 50% auto;
      background-position: center;    
    }
    }
  }
    // form
    .form_inst { 
      font-size: 2rem;
    }
    // ready container
    .ready_container {
        font-size: 2rem !important;
        line-height: 1.2; 
        &>div>div {
            margin-bottom: 2rem;
        }
    }  
  // footer

  /*   alumni */
  .alumni_container * {
  font-size: 30px;
  }
}

@media (min-width: 576px) {
  // global
  // topnav
  // hero
  .subtext {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -.03em;
    padding: 15px 0;
  }  
  // stats
  // video
  // real world
  // slider
  .slide {
    span {
    max-width: 70%;
    min-height: 85px;
  }}
  // form
  // ready container
  // footer
}
@media (min-width: 992px) {
  // global
  // topnav
  // hero
  // stats
  // video
  // real world
  // slider
  .slide {
    span {
    max-width: 50%;
  }
}
  // form
  // ready container
  // footer
}

// video
@import "custom-video-container";

// layered-learning
.ll-header {
    min-height: 172px;
    background: url(../img/_OR53785.JPG) right/150% no-repeat;
    padding: 0 90px;

    .text-content {
        background: $light-blue;
        width: 50%;
        padding: 3rem;
        margin: 5rem 0;
        color: white;

        p {
            font-size: 1.125rem;
        }
    }
}

// checkered tiles
.checkered p {
    font-size: 18px;
}

/* Med Screens */
@media (min-width: 576px) {
// h1 {
//     font-size: 65px;
// }
// h2 {
//     font-size: 32px;
//     font-weight: 600;
//     letter-spacing: -.03em;
//     padding: 15px 0;
// }
// h3 {
//     font-size: 30px;
//     letter-spacing: -.03em;
//     padding: 25px 0 0 0;
// }
#logo_horz {
    max-width: 240px;
}

.btn-primary {
    font-size: 15px;
    margin-bottom: 0px;
    min-width: inherit;
}
.stats > div > div:last-child{
    max-width: 250px;
}
.slider_nav {
    position: absolute;
    right: 20px;
    bottom: 10px;
    height: 50px;
}
.slider_nav > a {
    background: url("../img/slider_nav_arrow.svg") no-repeat;
    background-size: 17px auto;
    background-position: 6px 9px;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
}
.slide h3 {
    max-width: 70%;
    min-height: 85px;
    font-size: 30px;
}
.form_inst {
    font-size: 22px;
}
.ready_container {
    font-size: 18px;
}
#buildings_container {
    position: relative;
    min-height: 400px;
    position: absolute;
    bottom: 0;
    width: calc(100vw);
    left: 0;
}
.real_world {
    margin-top: 10vw;
}
#realworld_buildings {
    width: 30vw;
    max-width: 380px;
    position: absolute;
    right: 0;
    bottom: 0;
}
}
/* X Large Monitors */
@media (min-width: 1200px) {
}

/* Large Monitors */
@media (min-width: 992px) {    
    .slide h3 {
        max-width: 50%;
    }
}

/* Med - Large Screens */
@media (max-width: 991px) {
    html, body {
        font-size: 11px;
    }
    
    section {
        padding: 0;
    }

    // layered-learning
    .ll-header {
        padding: 0 3rem;
    }
    .slide h3 {
        max-width: 60%;
    }
    .carousel {
        .quote {
            width: 235px;
        }
    }
}

/* Med Screens */
@media (max-width: 768px) {
    html, body {
        font-size: 16px
    }
    h1, .h1 {
        font-size: 2.8125rem; //45px;
    }
    h2, .h2 {
        font-size: 2rem; //32px;
    }
    h3, .h3 {
        font-size: 1.875rem //30px;
    }


    .hero {
    
        background-size: 180%;
        background-position: 60% 36%;
        height: 535px;
        padding: 3rem 0;
    
    
        .dpu-ll-logo {
            width: 113px;
            height: auto;
        }
    
        &::before {
            scale: 50%;
            transform-origin: bottom right;
        }
    
        &::after {
            width: 100%;
        }
    }

    .carousel {
        .carousel-inner {
            height: 630px;
        .carousel-item {
            height: 400px;
            background-size: 140%;

            .quote {
                width: auto;
                margin: 20rem 3rem 0;
                position: relative;
            }
        }

        .carousel-control-container {
            position: relative;
            margin: 0 auto;
        }
    }}
}

/* Small Screens */
@media (max-width: 480px) {
    .hero {
        background-size: 380%;
    }
    .container {
        padding: 0 2rem;
    }

    .intro-blue-box {
        p {
            padding-right: 3rem;
            font-size: 1rem;
        }
    }

    .stats div {
        >div:first-child {
            font-size: 40px;
        }

        >div:last-child {
            font-size: 13px;
        }
    }

    .checkered {
        p {
            font-size: 1rem;
        }

        .container {
            padding: 0;
            overflow: hidden;
        }
    }

    .blue-bar {
        padding: 3.5rem 0 2rem;
        img {
            margin: 0 -4.1rem;
            width: 135%;
            height: auto;            
        }
        .text-content {
            padding: 2rem 0 0;
        }
    }

    .testimonial {
        .container {padding: 0; overflow: hidden;}
        .carousel {
            .carousel-inner {
                height: 600px;

                .carousel-item {
                    height: 400px;
                    background-size: 213%;
                    background-position: 55% 0% !important;

                    .quote {
                        margin: 22rem 3rem 0;
                            position: relative;
                            width: auto;
                            padding: 28px;
                        

                        .dbl-quote::before {
                            font-size: 3rem;
                            height: 12px;
                        }

                        .quote-content {
                            font-size: 1.375rem;
                        }

                        .quote-by-line {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }

    .alumni_container .row div:last-child {
        font-size: 21px !important;
        padding: 0.4rem 1.2rem;
    }

        .ready_container {
            overflow: hidden;
            
            >div>div {
                padding-bottom: 5rem !important;
            }
            
            img {
                width: 120%;
                height: 360px;
                margin: auto -2rem;
            }
            h3 {
                margin-top: 2rem !important;
            }
            p {padding-right: 2rem;}
        }
}