//colors
$primary-blue: #003da5;
$secondary-blue: #00205b;
$light-blue: #0072ce;
$white: #fff;
$light-gray: #eff0f0;
$mobile-subhead: 30px;

#error-placeholder {
    font-size: 2.2rem;
}

.show_toggle {
  flex-direction: column;
  font-size: 22px;
  font-weight: 700;
  margin: 0 auto 20px;
  color: $primary-blue;
  
  label {
  padding: 5px 15px 5px 0px;
  font-weight: normal;
  }
}
.slate-form {
  font-size: 1.4rem;
  font-weight: 800;
  min-height: 320px;

  input, select, textarea {
    -webkit-border-radius: 0;
  -moz-border-radius: 0;
    border-radius: 0;
  }

  select, textarea {
    border: none;
    background: #fff;
  }

  textarea {
    min-height: 160px;
  }

  label {
    color: $primary-blue;
  }

  .form_text {
    display: block;       
  }

  .form_select select {width: 100%; border: 1px solid rgba($primary-blue, .6); }    

  fieldset {width: 100%;}

  .form_response {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    label, input {
      width: auto !important;
      margin: 0 5px 0 0;
    }
  }
    
}

.form-section {
    background: $light-gray;
    h1 {
        color: $primary-blue;
    }
}
.form_inst {
    color: $primary-blue;
    font-size: $mobile-subhead;
}
.slate-form {
  input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $primary-blue;
    width: 100%;
  }

  label {
    color: $primary-blue;
    font-size: 22px;
  }

  button {
    background: $primary-blue;
    color: $white;
    font-size: 15px;
    border: 0;
    border-radius: 0;
    margin-right: 20px;
    padding: 8px 30px;
  }
}

@media (min-width: 992px) {
    .show_toggle {
        flex-direction: row;
    }
}
@media (min-width: 576px) {
    .slate-form .form_select select {
    width: 50%;
  }
}
